body{
    margin: 0;
}

header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 65px;
}

.odkazy{
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

.odkazy a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    /*height: 600px;*/
}

footer{
    background-color: rgb(78, 75, 75);
    display: flex;
    justify-content: center;
}

footer .wrapper{
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 36px;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

svg:hover{
    fill: red;
}